@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 1, 20);
}
.inner_container{
    width: 80vw;
    height: 85vh;
    border: rgb(1, 1, 20) solid 8px;
}
.header_box{
    height: 15%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(39, 39, 117, 0.705);
    border-bottom: rgb(1, 1, 20) solid 8px;
}
.header_box h1{
    font-weight: 200;
}
.content_box{
    height: 85%;
    display: flex;
}
.crypto-selector{
    width: 20%;
    height: 100%;
    background-color: #1e1e1e;
    border-right: rgb(1, 1, 20) solid 8px;
}
.crypto-selector-header{
    height: 10%;
    border-bottom: white solid 1px;
}
.chart_content_container{
    width: 100%;
    background-color: #1e1e1e;
}
.interval-selector{
    height: 10%;
    border-bottom: white solid 1px;
}
#crypto-toggle button{
    width: 100%;
    height: 7vh;
}
#interval-toggle{
    height: 100%;
    display: flex;
}
#interval-toggle button{
    height: 100%;
}
#chart-container{
    width: 100%;
    height: 90%;
}
.toggle-btn img{
    height: 70%;
}
.toggle-btn {
    padding: 10px 20px;
    border: 2px solid #333;
    background-color: rgba(87, 87, 170, 0.705);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 500;
}
.toggle-btn.active {
    background-color: rgba(31, 31, 116, 0.705);
    color: #fff;
}
.toggle-btn:hover {
    background-color: rgba(70, 70, 182, 0.705);
}
/* /////////////////////////////  MEDIA QUERIES  //////////////////////////// */
@media (max-width: 475px){
    .inner_container {
        width: 98vw;
        height: 90vh;
    }
    .header_box{
        height: 10%;
        font-size: 0.5rem;
    }
    .crypto-selector {
        width: 14%;
    }
    #crypto-toggle span{
        display: none;
    }
    .toggle-btn{
        justify-content: center;
        border: none;
    }
    .crypto-selector-header {
        height: 7%;
    }
    .interval-selector {
        height: 7%;
    }
    #interval-toggle button{
        font-size: 0.7rem;
        width: 15%;
    }
    .toggle-btn img{
        height: 60%;
    }
    .content_box{
        height: 90%;
    }
}
@media (min-width: 476px) and (max-width: 640px){
    .inner_container {
        width: 98vw;
        height: 90vh;
    }
    .header_box{
        height: 10%;
        font-size: 0.6rem;
    }
    .crypto-selector {
        width: 14%;
    }
    #crypto-toggle span{
        display: none;
    }
    .toggle-btn{
        justify-content: center;
        border: none;
    }
    .crypto-selector-header {
        height: 8%;
    }
    .interval-selector {
        height: 8%;
    }
    #interval-toggle button{
        font-size: 0.7rem;
        width: 16%;
    }
    .toggle-btn img{
        height: 60%;
    }
    .content_box{
        height: 90%;
    }
}
@media (min-width: 641px) and (max-width: 768px){
    .inner_container {
        width: 98vw;
        height: 90vh;
    }
    .header_box{
        height: 10%;
        font-size: 0.6rem;
    }
    .crypto-selector {
        width: 14%;
    }
    #crypto-toggle span{
        display: none;
    }
    .toggle-btn{
        justify-content: center;
        border: none;
    }
    .crypto-selector-header {
        height: 8%;
    }
    .interval-selector {
        height: 8%;
    }
    #interval-toggle button{
        font-size: 0.7rem;
        width: 12%;
    }
    .toggle-btn img{
        height: 60%;
    }
    .content_box{
        height: 90%;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .inner_container {
        width: 98vw;
        height: 90vh;
    }
    .header_box{
        height: 10%;
        font-size: 0.6rem;
    }
    .crypto-selector {
        width: 14%;
    }
    .toggle-btn{
        justify-content: center;
        border: none;
    }
    .crypto-selector-header {
        height: 8%;
    }
    .interval-selector {
        height: 8%;
    }
    #interval-toggle button{
        font-size: 0.7rem;
        width: 10%;
    }
    .toggle-btn img{
        display: none;
    }
    .content_box{
        height: 90%;
    }
}
@media (min-width: 1025px) and (max-width: 1280px){
    .inner_container {
        width: 98vw;
        height: 90vh;
    }
    .header_box{
        height: 10%;
        font-size: 0.6rem;
    }
    .crypto-selector {
        width: 14%;
    }
    .toggle-btn{
        justify-content: center;
        border: none;
    }
    .crypto-selector-header {
        height: 8%;
    }
    .interval-selector {
        height: 8%;
    }
    #interval-toggle button{
        font-size: 0.7rem;
        width: 8%;
    }
    .toggle-btn img{
        display: none;
    }
    .content_box{
        height: 90%;
    }
}
@media (min-width: 1281px) and (max-width: 1536px){
    .inner_container {
        width: 98vw;
        height: 90vh;
    }
    .header_box{
        height: 10%;
        font-size: 0.6rem;
    }
    .crypto-selector {
        width: 14%;
    }
    #crypto-toggle button{
        justify-content: space-between;
        font-size: 0.7rem;
    }
    .crypto-selector-header {
        height: 8%;
    }
    .interval-selector {
        height: 8%;
    }
    #interval-toggle button{
        font-size: 0.7rem;
        width: 8%;
    }
    .content_box{
        height: 90%;
    }
    .toggle-btn{
        justify-content: center;
    }
    .toggle-btn img{
        height: 60%;
    }
}

@media(max-height: 475px) and (orientation: landscape){
    .inner_container {
        width: 98vw;
        height: 90vh;
    }
    .header_box{
        height: 10%;
        font-size: 0.3rem;
    }
    .crypto-selector {
        width: 14%;
    }
    .toggle-btn{
        justify-content: center;
        border: none;
    }
    .crypto-selector-header {
        height: 7%;
    }
    .interval-selector {
        height: 7%;
    }
    #interval-toggle button{
        font-size: 0.5em;
        width: 10% !important;
    }
    .toggle-btn img{
        display: none;
    }
    .content_box{
        height: 90%;
    }
    .toggle-btn span{
        display: block !important;
        font-size: 0.5rem;
    }
}